body {
  color:white;
  background:#262626;
  font-family:system-ui;
}
header {
  background:black;
  padding-left:1em;
  border:1px solid;
}
main {
  background:black;
  padding:1em;
  border:1px solid;
  margin-top:0.5em;
}
a {
  color:#007bc2;
}
p {
  text-align:justify;
}
img {
  float:right;
  width:100%;
  margin-left:1em;
  margin-bottom:1em;
}
.src {
  font-style:italic;
  text-align:right;
}
.src::before {
  font-style:italic;
}